<div class="row">
    <div class="col col-12 col-sm-2 col-md-2"></div>
    <div class="col col-12 col-sm-8 col-md-8">
<table class="table">
    <tr>
        <td>Course Title</td>
        <td><input type="text" class="form-control"> </td>
    </tr>
    <tr>
            <td>Course Description</td>
            <td> <textarea class="form-control"cols="20" rows="5"></textarea></td>
        </tr>
    <tr>
            <td>Course Duration</td>
            <td><input type="text" class="form-control"> </td>
        </tr>

        <tr>
                <td>Course Venue</td>
                <td><input type="text" class="form-control"> </td>
            </tr>


            <tr>
                    <td>Course Date</td>
                    <td><input type="date" class="form-control"> </td>
                </tr>
                <tr>
                        <td> </td>
                        <td> <Button class="btn btn-danger"> SUBMIT</Button> </td>
                    </tr>

</table>

    </div>

    <div class="col col-12 col-sm-2 col-md-2"></div>

</div>